{% extends 'index.html' %}

{% block title %} Join Us {% endblock title %}
    
{% block content %}
    
<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="text-center">
            <p>Unete Work Chat</p>
            <h3>Crea tu Cuenta</h3>
            {{ render_messages(messages) }}
        </div>
        <form action="{{url_for('Join')}}" method="POST">
            <div class="form-group">
                <label for="username">Usuario<span> *</span></label>
                <input type="text" name="username" class="form-control" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="password">Contraseña<span> *</span></label>
                <input type="password" name="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico<span> *</span></label>
                <input type="email" name="email" class="form-control" placeholder="Correo Electrónico">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-lg btn-block" name="login">Unirte</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
